/* 
    maroon: #3B101B;
*/

h1 {
    font-size: 5em; /* Adjust as needed */
}

p {
    font-size: 1.2em; /* Adjust as needed */
}

.tagline {
    color: rgba(152, 5, 5, 0.5);
}

.navbar-brand {
    color: orangered;
}
.navbar-brand:hover {
    color: orange;
}

.gradient-text {
    background: -webkit-linear-gradient(45deg, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-right {
    border-right: 1px solid #DFD8CA;
}

.border-left {
    border-left: 1px solid #DFD8CA;
}

.event-participant {
    background-color: green;
}

.non-participant {
    background-color: lightgray;
}

.interactive-cell {
    border: 1px solid #DFD8CA;
}

.interactive-cell:hover {
    border: 3px dashed blue;
    cursor: pointer;
}